.block09 button:focus,
.block09 a:focus {
  background-color: lightblue;
}

.block10 a:hover {
  color: greenyellow;
}

.block11 p:first-of-type {
  color: red;
  text-decoration: overline;
}

.block11 p:last-of-type {
  color: red;
  text-decoration: underline;
}

.block11 q:first-child {
  color: blue;
  text-decoration: overline;
}

.block11 q:last-child {
  color: blue;
  text-decoration: underline;
}

.block11 li:nth-child(2n + 1) {
  color: orange;
}

.block12 li:not(.done) {
    color: red;
}

.block13 li.done::before {
    content: 'СДЕЛАНО';
    background-color: lightgreen;
}