/* Для оценки по ТЗ */
h4 {
  color: green;
}

.header_blue {
  color: blue;
}

.header_underline {
  text-decoration: underline;
}

#id1 {
  text-decoration: underline;
}

#id2 {
  color: red;
}

.block02 p {
  color: red;
}

.block03 > p {
  color: red;
}

.block05 h4 + p {
  color: red;
}

.block06 .accent {
  text-decoration: underline;
}

.block06 .accent ~ p {
  color: red;
}

.block07 p,
.block07 li,
.block07 q {
  font-style: italic;
}

a[href=""] {
  background-color: red;
}

.block08 * {
  color: red;
}